openapi: 3.0.0
info:
  title: Remote Content Test API
  version: 1.0.0
paths:
  /hello:
    get:
      summary: Returns a greeting
      responses:
        '200':
          description: A simple greeting
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
          new field here for test
